html {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

section, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-top-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
li {
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  /* background-color:chartreuse;
  transition: background-color 0.3s; */
}
span{
  font-size: larger;
}
span:hover {
  background-color: red;
  text-decoration: line-through;
  font-size: larger;
}
.trash-btn{
  width: 28px;
  height: 28px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #eee;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* needed to cross out text for a toggle() */
.task-complete {
  text-decoration: line-through;
  opacity: 0.6;
}
