html {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('https://preview.redd.it/windows-xp-bliss-wallpaper-in-8k-ai-upscaled-v0-puzkje595kf81.jpg?width=1080&crop=smart&auto=webp&s=f1e2ed1d6738bb01bf7aa29353f8f3d194dcea50');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}
body{
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 5px solid #1141df; */
  margin-top: 200px;
}

section {
  width: fit-content;
  border: 5px solid #1141df;
  background-color: rgb(246, 246, 234);
  border-radius: 7px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  justify-self: center;

  padding-bottom: 5px;
}

section, header {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-cnt{
  width:100%;
  align-self: start;
  background-color: #1141df;

  display: flex;
  justify-content: flex-start;
}
.prompt {
  font-size: small;
  color: azure;
  vertical-align: top;
}

.sec-top-ctn {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;

}
.input-cnt{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}

.list-cnt{
  width: 95%;
  border: 1px solid black;
  background-color: rgb(252, 252, 252);

}
.task-ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;

}
/* li { */
.task-item{
  /* border: 1px solid black; */
  background-color: #cccccc;
  border-radius: 4px;
  background-image: linear-gradient(to top, rgb(204, 203, 203), white);
  border: 1px solid #1141df;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  margin: 10px;
  /* background-color:chartreuse;
  transition: background-color 0.3s; */
}
span{
  font-size:medium;
}
/* span:hover {
  background-color: red;
  text-decoration: line-through;
  font-size: larger;
} */
.trash-btn{
  width: 20px;
  height: 20px;
  font-size: 1rem;
  color: aliceblue;
  border: 1px solid #1141df;
  border-radius: 4px;
  text-align: center;

  cursor: pointer;
  background-image: linear-gradient(to top left, rgb(223, 45, 45), rgb(247, 196, 196));
  /* border-color: #ffffff; */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  text-decoration: double;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* needed to cross out text for a toggle() */
.task-item-complete {
  background-color: #B8FF66;
}
.span-crossed{
  text-decoration: line-through;
  opacity: 0.6;
}
.submit-btn {
  background-image: linear-gradient(to top, rgb(204, 203, 203), white);
  border-radius: 4px;
}
